
.wrapper {
  display: flex;
  flex-flow: wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper  * {
  padding: 50px;
  flex: 1 100%;
}

/* This is my main navigation */

.container-header{
display: flex;
background:rgb(124, 117, 11);
}


.main_nav {
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-end;
  
  padding: 0;
  margin: 0;
  list-style: none;
}


.logo {
  text-align: left;
  flex: 3;
  font-size: 1em;
  background: rgb(124, 117, 11);
  margin-left: 1em;
  color: aliceblue;
}

/* Button for main navigation */
.btn {
  display: block;
  background: rgb(124, 117, 11);
  padding: 2px;
  width: 220px;
  height: 50px;
  margin-top: 2px;
  line-height: 50px;
  color: aliceblue;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  flex: 1;
}


.btn:hover { 

background: rgb(124, 117, 11);
border-radius: 2px;

}

.container-1, .container-2, .container-3 {
  
  background: rgba(174, 211, 242, 1);
  text-align: center;
  flex: 2; 
  padding: 2px;
  margin: 2px;
  border-bottom: 1px solid rgba(45, 241, 255, 0.1);
  border-radius: 2px; 

}




/* Sizing for Medium Screens */
@media all and (max-width: 600px) {
  .about_top {flex: 1 0 0;}
} 

/* Sizing for Small Screens */
@media all and (max-width: 800px) {
  .about_top{flex: 2 0px; }
  .about_top{flex: 1;}
  .middle {order: 3; }
  .last {order: 1; }
  .footer {order: 2;}
} 

body {
  padding: 2em;
}
/* I assume the casscade affects the max */

.btn {
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(140, 131, 14, 1);

}


/* font design */

h1 {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;

}


