@font-face {
  font-family: 'Merriweather', serif;
  src: url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
}

body {
  max-width: 1200px;
  margin: 0px auto;
  width: 100%;
  flex: 1;

}


.wrapper {
  display: flex;
  flex-flow: wrap;
  font-weight: bold;
  text-align: center;
  
  
}

/* Might not use this */
.wrapper  * {
  padding: 50px;
  flex: 1 100%;

}


/* This is my main navigation */

.container-header {
display: flex;
background:#665939;
justify-content:flex-end;
 
}


.main_nav {
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-end;
  align-items: center;
  padding: 0;
  margin: 2px;
  list-style: none;
  background: #665939;

}



.logo {
  display: block;
  text-align: left;
  flex: 2;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  background: #665939;
  margin-left: 1em;
  color: aliceblue;
  padding: 2px;
  width: 250px;
  height: 50px;
  margin-top: 2px;
  line-height: 50px;
  font-family: 'Merriweather', serif;
}

/* Button for main navigation */
.btn {
  display: block;
  background: #665939;
  padding: 2px;
  width: 250px;
  height: 50px;
  margin-top: 2px;
  line-height: 50px;
  color: #F6F7F1;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  flex: 1;

}


.btn:hover { 

background: rgb(124, 117, 11);
border-radius: 2px;

}

.container-1, .container-2, .container-3, .container-4 {
  
  display:flex;
  flex-wrap: wrap;
  background: #665939;
  flex: 2; 
  padding: 2px;
  margin: 2px;
  border-bottom: 1px solid #665939;
  width: 100%;
  max-width: 1200px;
  height: 350px;

}


.container-4 {
  flex: 1;
  margin: 2px;
  max-width: 1192px;

}


.container_footer{
  display:flex;
  flex-wrap: wrap;
  background: #665939;
  flex: 2; 
  padding: 2px;
  margin: 2px;
  border-bottom: 1px solid #665939;
  width: 100%;
  max-width: 1192px;
  height: 250px;

}


.image {
  display:flex;
  overflow: hidden;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
}

.image_about {
  background-image: url("img/eatable.png");
}

.image_eatable {
  background-image: url("img/5.png");

}

.image_poison {
  background-image: url("img/6.png");
}


/* Making Navigation Dissapear*/
@media all and (max-width: 600px) {
  .btn {display: none;}
} 


/* Sizing for Medium Screens */
@media all and (max-width: 600px) {
  .main_nav {flex: 1 0 0;}
  .container {flex: 1 0 0;}
} 

/* Sizing for Small Screens */
@media all and (max-width: 800px) {
  .container{flex: 2 0px; }
  .container{flex: 1;}
  .container-1 {order: 3; }
  .container-2 {order: 1; }
  .container-3 {order: 2;}
} 

body {
  padding: 2em;
 

}
/* I assume the casscade affects the max */

.btn {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #665939;

}

/* font design */

h1 {
  font-size: 2em;
  text-decoration: none;
  color: #F6F7F1;
}


.header_text, .recipe_text{
position: absolute;
line-height: 350px;
margin-bottom: auto;
font-size: 1.3em;
font-family:Arial, Helvetica, sans-serif;
font-weight: lighter;

}

ul {
  display: flex;

}

li {
display: block;
flex: 1;
width: 250px;
line-height: 350px;
margin-bottom: auto;
font-size: 1.3em;
font-family:Arial, Helvetica, sans-serif;
font-weight: lighter;
color: #F6F7F1;
}