
.wrapper {
  display: flex;
  flex-flow: wrap;
  font-weight: bold;
  text-align: center;

}

.wrapper  * {
  padding: 50px;
  flex: 1 100%;

}

/* This is my main navigation */

.container-header {
display: flex;
background:#665939;
justify-content:flex-end;

}


.main_nav {
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #665939;

}



.logo {
  display: block;
  text-align: left;
  flex: 2;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  background: #665939;
  margin-left: 1em;
  color: aliceblue;
  padding: 2px;
  width: 250px;
  height: 50px;
  margin-top: 2px;
  line-height: 50px;

}

/* Button for main navigation */
.btn {
  display: block;
  background: #665939;
  padding: 2px;
  width: 250px;
  height: 50px;
  margin-top: 2px;
  line-height: 50px;
  color: aliceblue;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  flex: 1;

}


.btn:hover { 

background: rgb(124, 117, 11);
border-radius: 2px;

}

.container-1, .container-2, .container-3 {
  
  background: #39360D;
  text-align: center;
  flex: 2; 
  padding: 2px;
  margin: 2px;
  border-bottom: 1px solid #665939;
  border-radius: 2px; 

}




/* Sizing for Medium Screens */
@media all and (max-width: 600px) {
  .about_top {flex: 1 0 0;}
} 

/* Sizing for Small Screens */
@media all and (max-width: 800px) {
  .about_top{flex: 2 0px; }
  .about_top{flex: 1;}
  .middle {order: 3; }
  .last {order: 1; }
  .footer {order: 2;}

} 

body {
  padding: 2em;

}
/* I assume the casscade affects the max */

.btn {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #665939;
  
}


/* font design */

h1 {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;

}



/* Color Theme Swatches in Hex */
.Pink-Accordian-Tomato-1-hex { color: #39360D; }
.Pink-Accordian-Tomato-2-hex { color: #665939; }
.Pink-Accordian-Tomato-3-hex { color: #B34137; }
.Pink-Accordian-Tomato-4-hex { color: #910200; }
.Pink-Accordian-Tomato-5-hex { color: #590202; }

/* Color Theme Swatches in HSLA */
.Pink-Accordian-Tomato-1-hsla { color: hsla(55, 62, 13, 1); }
.Pink-Accordian-Tomato-2-hsla { color: hsla(42, 28, 31, 1); }
.Pink-Accordian-Tomato-3-hsla { color: hsla(4, 52, 45, 1); }
.Pink-Accordian-Tomato-4-hsla { color: hsla(0, 100, 28, 1); }
.Pink-Accordian-Tomato-5-hsla { color: hsla(0, 95, 17, 1); }
